.profile__title {
	margin-top: 82px;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
}

.profile__form {
	margin: 107px auto 0;
	max-width: 410px;
	display: flex;
	flex-direction: column;
}

.profile__input-email,
.profile__input-name {
	width: 88%;
	border: none;
	text-align: right;
	padding: 17px 0;
	position: relative;
}

.profile__input-label {
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile__input-label:first-child {
	border-bottom: 1px solid #E8E8E8;
}

.profile__input-email {
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	text-align: right;
	padding: 16px 0;
	color: #000;
}

.profile__input-name {
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	text-align: right;
	padding: 16px 0;
	color: #000;
}

.profile__btn-edit {
	margin-top: 204px;
	border: none;
	background-color: #fff;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
}

.profile__btn-edit:hover {
	cursor: pointer;
}

.profile__logout {
	margin-top: 16px;
	border: none;
	background-color: #fff;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #EE3465;
}

@media screen and (max-width: 770px) {
	.profile__title {
		margin-top: 241px;
	}

	.profile__form {
		margin: 82px auto 0;
	}

	.profile__input-email {
		padding: 17px 0;
	}

	.profile__btn-edit {
		margin-top: 195px;
	}
}

@media screen and (max-width: 500px) {
	.profile__title {
		margin: 76px 0 0 -7px;
	}

	.profile__form {
		margin: 66px 0 0 26px;
	}


	.profile__input-label {
		width: 260px;
	}

	.profile__input-email {
		width: 200px;
	}

	.profile__btn-edit {
		font-size: 12px;
		line-height: 15px;
		margin: 363px 0 0 -34px;
	}

	.profile__logout {
		font-size: 12px;
		line-height: 15px;
		margin-left: -34px;
	}
}